<div class="rightbar-home">
  <h4>WHO TO FOLLOW</h4>
  <div>
    <img src="https://pbs.twimg.com/profile_images/1036730403514736650/PCRxFiEt.jpg">
    <span>User name</span>
  </div>
  <div>
    <img src="https://pbs.twimg.com/profile_images/1036730403514736650/PCRxFiEt.jpg">
    <span>User name</span>
  </div>
  <div>
    <img src="https://pbs.twimg.com/profile_images/1036730403514736650/PCRxFiEt.jpg">
    <span>User name</span>
  </div>
</div>
<div class="middle-section container">
  <div class="tweet-section">
    <span>TWEET SOMETHING:</span>
    <div>
      <%= form_for @opinion do |opinion| %>
        <%= opinion.text_field :text, class:"tweet"%>
      <% end %>
    </div>
  </div>
  <div class="new-tweets">
    <span>NEW TWEETS</span>
    <div>
        <% Opinion.all.each do |opinions|%>
          <%= opinions.text %>
        <% end %>
    </div>
  </div>
</div>