<div class="user-section">
  <div class="middle-section container">
    <img class="cover-img" src="<%= @user.photo %>">
    <div class="tweet-section">
      <h4>TWEET SOMETHING:</h4>
      <div>
        
      </div>
    </div>
    <div class="new-tweets">
      <h4>NEW TWEETS</h4>
      <div>
          HOLA
      </div>
    </div>
  </div>
  <div class="rightbar-user">
    <div class="photo-adduser">
      <a><span class="material-icons">add_circle_outline</span></a>
    </div>
    <div class="tweets-follows">
      <div class="section">
        <span>100</span>
        <span>Tweets</span>
      </div>
      <div class="line"></div>
      <div class="section">
        <span>100</span>
        <span>Following</span>
      </div>
      <div class="line"></div>
      <div class="section">
        <span>100</span>
        <span>Followers</span>
      </div>
    </div>
    <div class="followed_by">
      <span>FOLLOWED BY</span>
    </div>
  </div>
</div>