<div class="sidebar d-flex column">
  <div class="profile-user">
    <div class="image"></div>
    <h3><%= @user.username %></h3>
  </div>
  <div class="profile-follows">
    <div class="follows">
      <h4>200</h4>
      <p>Following</p>
    </div>
    <div class="divisor"></div>
    <div class="follows">
      <h4>200</h4>
      <p>Followers</p>
    </div>
  </div>
  <div class="profile-links">
    <div>
      <span class="material-icons">home</span>
      <a>HOME</a>
    </div>
    <div>
      <span class="material-icons">alternate_email</span>
      <a>CONNECT</a>
    </div>
    <div>
      <span class="material-icons">rss_feed</span>
      <a>DISCOVER</a>
    </div>
    <div>
      <span class="material-icons">person</span>
      <a>PROFILE</a>
    </div>
  </div>
</div>