@import "bootstrap-sprockets";
@import "bootstrap";

$font-color: #62778a;
$divisor-color: #172531;
$top-background: #1b2a3d;
$main-background: #213246;
$selector-blue: linear-gradient(to bottom right, #56abee, #4e9fdc);
$top-bar-font: #376e9a;
$new-tweets:#78b5e5;
$border-following: #bebfc1;
$width: 270px;
$margin-middle: 0 0 0 $width;
$font-size: 15px;

@mixin text{
  font-family: 'Poppins', sans-serif;
  color: $font-color;
}
@mixin tweets{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
@mixin background{
  background-color: #f5f6f8;
}
.login-background{
  background-image: linear-gradient(to bottom right, #1b2a3d, #4e9fdc);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 80px;
  @include text;
}
body{
  @include background;
  font-family: 'Poppins', sans-serif;
}
.login{
  background-color: $border-following;
  color: $border-following;
  height: 400px;
  width: 700px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  form{
    width: 50%;
  }
  .image{
    background-image: url("https://pbs.twimg.com/profile_images/1036730403514736650/PCRxFiEt.jpg");
    background-size: cover;
    width: 50%;
  }
  .path{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    #login-icon{
      color: #4e9fdc;
      background-image: none;
      padding-bottom: 10px;
    }
    div:first-child{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn {
      justify-self: flex-end;
      background-image: $selector-blue !important;
      border-radius: 0;
      border: none;
      font-size: 25px;
      color: white;
      width: 80%;
    }
    div{
      display: flex;
      flex-direction: row;
      color: $top-bar-font;
      width: 80%;
      span{
        background-image: $selector-blue;
        color: white;
        font-size: 45px;
      }
      .username-field{
        border-radius: 0;
        border: none;
        width: calc(100% - 45px);
        padding-left: 10px;
      }
    }
  }
  div>*{
    margin: 0;
  }
}
.sidebar {
  background-color: $main-background;
  @include text;
  width: $width;
  height: 100%;
  position: absolute;
  .profile-user {
    display: flex;
    background-color: $top-background;
    padding: 20px;
    font-size: $font-size;
    h3{
      margin-left: 20px;
      font-size: $font-size;
    }
  }
  .image{
    background-color: white;
    width: 70px;
  }
  .profile-follows{
    display: flex;
    margin-bottom: 10px;
    background-color: $top-background;
    border-top: 3px solid $divisor-color;
    justify-content: space-evenly;
  }
  .follows{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    h4{
      margin-bottom: 0px;
      color: white;
      font-weight: bold;
      font-size: $font-size;
    }
  }
  .divisor{
    width: 1px;
    background-color: $divisor-color;
  }
  .profile-links{
    display: flex;
    flex-direction: column;
    font-size: $font-size;
    font-weight: 500px;
    :hover{
      background-image: $selector-blue;
      color: white;
    }
    a{
      color: $font-color;
      text-decoration: none;
      cursor: pointer;
      margin-left: 10px;
      :hover{
        color: white;
      }
    }
    div{
      display: flex;
      padding: 20px;
    }
  }
}
.top-bar{
  margin-left: $width;
  background-image: $selector-blue;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  color: $top-bar-font;
  div>*{
    margin-left:20px;
  }
  img{
    width: 40px;
  }
  div{
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    a:hover{
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }
}
.rightbar-home{
  @include text;
  font-size: $font-size;
  float: right;
  width: 20%;
  padding: 30px;
  margin-left: 30px;
  color: $font-color;
  border-left: 1px solid $border-following;
  border-bottom: 1px solid $border-following;
  .user-section{
    display: flex;
    .user-details{
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }
  }
  h4{
    padding-bottom: 20px;
    border-bottom: 1px solid $border-following;
    font-size: $font-size;
  }
  img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background-color: $border-following;
  }
  div{
    margin-top: 20px;
  }
  span{
    margin-left: 20px;
  }
}
.middle-section{
  color: $font-color;
  margin: $margin-middle;
  padding: 0;
  h4{
    font-size: 15px;
  }
  .tweet-section{
    height: 150px;
    @include tweets;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    h4{
      margin: 0;
    }
  }
  .tweet{
    border: $border-following 1px solid;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
  }
  .new-tweets{
    @include tweets;
    margin: 30px;
    flex-direction: column;
    height: 300px;
    color: $new-tweets;
    h4{
      border-bottom: 1px solid $border-following;
      font-weight: bold;
      padding-bottom: 20px;
    }
    div{
      display: flex;
      flex-direction: column;
    }
  }
}
.user-section{
  display: flex;
  .middle-section{
    margin: 0 0 0 $width;
    .cover-img {
      width: 100%;
      height: 200px;
      background-color: $new-tweets;
      object-fit: cover;
    }
  }
  .rightbar-user{
    width: 310px;
    border-left: 1px solid $border-following;
    .user-det{
      padding: 20px;
    }
    .photo-adduser{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      a{
        font-size: 40px;
        margin-right: 10px;
      }
      span{
        color: $border-following;
        font-size: 40px;
      }
    }
    .username-name{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span{
        padding-top: 10px;
      }
    }
    .profile-photo{
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 50px;
      background-color: $new-tweets;
    }
    .tweets-follows{
      display: flex;
      justify-content: space-evenly;
      border-top: 1px solid $border-following;
      border-bottom: 1px solid $border-following;
      flex-flow: wrap;
      .line{
      width: 1px;
      background-color: $border-following;
      }
      span{
        margin-bottom: 20px;
      }
      .section{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $border-following;
        width: 33%;
        span:first-child{
          margin: 20px 0  0 0;
          color: $font-color;
        }
      }
    }
    .followed_by{
      padding: 20px;
      span{
        padding-bottom: 20px;
        border-bottom: 1px solid $border-following;
        width: 100%;
        display: block;
      }
      .follower-det{
        display: flex;
        padding-top: 20px;
        img{
          width: 60px;
          height: 60px;
          margin-right: 20px;
        }
        .follower-name{
          display: flex;
          flex-direction: column;
          a{
            color: $font-color;
          }
          a:hover{
            cursor: pointer;
            text-decoration: none;
          }
          a:first-child{
            color: $font-color;
            font-weight: bold;
            padding-bottom: 5px;
          }
          
        }
      }
    }
  }
}
