<div class="sidebar">
  <div class="profile-user">
    <img>
    <h3>NAME</h3>
  </div>
  <div class="profile-follows">
    <div class="following">
      <h4>Following</h4>
    </div>
    <div class="following">
      <h4>Followers</h4>
    </div>
  </div>
  <div class="profile-links">
    <a>HOME</a>
    <a>CONNECT</a>
    <a>DISCOVER</a>
    <a>PROFILE</a>
  </div>
</div>